name: Android Fastlane with Firebase App Distribution Workflow
on:
  push:
    branches:
      - master
jobs:
  distribution_to_firebase:
    runs-on: ubuntu-latest
    steps:
    - name: Checkou my repo code
      uses: actions/checkout@v5
    
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Install flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
    
    - name: Setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: true
        working-directory: android

    - name: Build an Distribute App
      env:
        FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
      run: | 
        bundle exec fastlane android firebase_distribution
      working-directory: android
   
    